@page "{shortId}"
@model ProjectModel

@{ ViewData["Title"] = Model.Project.Name; }
@section Scripts {
    <script>
        window.shortId = '@Model.Project.ShortId';
        window.projectFile = JSON.parse('@Html.Raw(Model.ProjectFileContent)');

        // The Stl Viewer and Gallery are not displayed by default.
        // It will only be visible on browsers with activated javascript.
        document.getElementById('js-app').style.display = 'block';
    </script>
    <script src="~/js/GalleryApp.js"></script>
    <script src="~/js/StlViewerApp.js"></script>
}

<section id="project">
    <div class="title">
        <h1>@Model.Project.Name</h1>
        <small>ID: @Model.Project.ShortId</small>
    </div>

    <noscript>
        <div class="data @Model.Project.Status.ToLower()">
            <div class="data-footer">
                <div class="data-info-item">Please activate Javascript to use the STL Viewer.</div>
                <div class="data-info">
                    <div class="data-info-item">@Model.Project.LastUpdate.ToShortDateString()</div>
                    <div class="data-info-item">@Model.Project.Status</div>
                    <a class="data-info-item" target="_blank" href="@Model.Project.RepositoryUrl" title="Repository Link">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </noscript>

    <div id="js-app" class="data @Model.Project.Status.ToLower()">             
        <div class="data-content desktop">
            <div id="stl-viewer-app"></div>
        </div>

        <div class="data-footer">
            <div class="data-info">
                <div class="data-info-item">@Model.Project.LastUpdate.ToShortDateString()</div>
                <div class="data-info-item">@Model.Project.Status</div>
                <a class="data-info-item" target="_blank" href="@Model.Project.RepositoryUrl" title="Repository Link">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <article class="summary">
        @Html.Raw(Model.ReadmeHtml)
    </article>
</section>