@model PrintProjects.Core.Model.Project
<div class="project @Model.Status.ToLower()">
    <div class="header">
        <a class="title" asp-page="/Project" asp-route-shortId="@Model.ShortId" title="@Model.Name">@Model.Name</a>
        <small>ID: @Model.ShortId</small>
    </div>            
    <a asp-page="/Project" asp-route-shortId="@Model.ShortId">
        <img src="/ProjectFiles/@Model.ShortId/@Model.CoverImage" alt="Project Image" />
    </a>
    <div class="footer">
        @{ var doneStls = Model.StlInfoList.Sum(s => s.Status == "Done" ? 1 : 0); }
        @if(doneStls == Model.StlInfoList.Count)
        {
            <div class="info">
                <i class="fa fa-cubes" aria-hidden="true"></i> STLs: @Model.StlInfoList.Count                        
            </div>
        }
        else
        {
            <div class="info">
                <i class="fa fa-cubes" aria-hidden="true"></i> STLs: @Model.StlInfoList.Count (Done: @doneStls)                      
            </div>
        }              
        <div class="info">
            <i class="fa fa-cogs" aria-hidden="true"></i> Status: @Model.Status
        </div>            
        <div class="info">
            <i class="fa fa-calendar" aria-hidden="true"></i> Last Update: @Model.LastUpdate.ToShortDateString()
        </div> 
    </div>
</div>